@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200&family=Roboto+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200&family=Permanent+Marker&display=swap');

a {
    text-decoration: none;
    color: #000;
}


body {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    background-color: #ffffff;
}

header {
    height: auto;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;


}

.tittle {

    font-family: 'Pacifico', cursive;
    width: 45%;
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    text-shadow:
        0 0 5px rgb(0 178 255),
        0 0 10px rgb(0 178 255),
        0 0 20px rgb(0 178 255),
        0 0 40px rgb(0 178 255),
        0 0 80px rgb(0 178 255),
        0 0 90px rgb(0 178 255),
        0 0 100px rgb(0 178 255),
        0 0 140px rgb(0 178 255),
        0 0 180px rgb(0 178 255);
    padding: 30px;
    margin-left: 190px;
    margin-top: 35px;

}

.subtittle {

    font-family: 'Permanent Marker', cursive;
    width: 45%;
    font-size: 30px;
    text-align: left;
    text-transform: uppercase;
    color: #fff;
    text-shadow:
        0 0 5px rgb(0 178 255),
        0 0 10px rgb(0 178 255),
        0 0 20px rgb(0 178 255),
        0 0 40px rgb(0 178 255),
        0 0 80px rgb(0 178 255),
        0 0 90px rgb(0 178 255),
        0 0 100px rgb(0 178 255),
        0 0 140px rgb(0 178 255),
        0 0 180px rgb(0 178 255);
    margin-left: 100px;

}

.imagen {

    height: 400px;
    width: 400px;
    border-radius: 20%;
    display: block;
    border-style: solid;
    border-color: #041B2D #004E9A #041B2D #004E9A;
    margin-left: 90px;
}

.profile {
    width: 30%;

}

.icons {
    align-items: center;
    border-radius: 5px;
    color: #000000;
    padding: 5px;
    margin-bottom: 20px;
}

hr {
    height: 2px;
    background-color: rgba(0, 178, 255, 1);
}


.card {
    max-width: 200px;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0 );
    transition: 0.3s;

}

.card:hover {
    box-shadow: 0 8px 16px 0 rgb(0, 178, 255, 1);

}

.container {
    padding: 2px 16px;

}

p {
    color: #000000;
    text-align: justify;
    font-family: 'Roboto Mono', monospace;

}

.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 50px;
    padding-bottom: 40px;
}

.socialmedia {
    align-items: center;
    border-radius: 5px;
    color: #000000;
    padding: 5px;
    margin-bottom: 90px;
    margin-left: 717px;
    margin-top: 50px;
}

.box {
    display: flex;
    width: 100%;
    height: 8px;
    margin: 40px 0px 60px 0px;
}

.box-sm {
    height: 4px;
    margin: 0;
    flex-grow: 1;
    transition: all .8s ease-in-out;
    cursor: pointer;
}

.box-sm:hover {
    flex-grow: 12;
}

.red {
    background-color: #0089D7;
}

.orange {
    background-color: #004E9A;
}

.yellow {
    background-color: #041B2D;
}

.green {
    background-color: #041B2D;
}

.blue {
    background-color: #004E9A;
}

.purple {
    background-color: #0089D7;
}
